{% extends 'base.html' %}

{% block head %}
<title>Reset Password</title>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/styl.css">

    <form method="post" action="/reset_password/" onsubmit="return validatePassword()">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
            {% for category, message in messages %}
              <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h2>Reset Password</h2>

        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" onkeyup="validatePassword()" required><br>

        <ul id="criteria">
            <li id="length" class="invalid">At least 8 characters</li>
            <li id="uppercase" class="invalid">At least one uppercase letter</li>
            <li id="lowercase" class="invalid">At least one lowercase letter</li>
            <li id="number" class="invalid">At least one number</li>
            <li id="special" class="invalid">At least one special character</li>
        </ul>

        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" onkeyup="validateMatchPassword()" required><br>

        <ul id="match_criteria">
            <li id="match" class="invalid">Passwords match</li>
        </ul>

        <button type="submit">Reset Password</button>
    </form>
{% endblock %}