{% extends "masterPage.html" %}

{% block body %}
<style>
    /* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Container styles */
.movie-list, .movie-recommendations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Card styles */
.movie-card {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

/* Image styles */
.movie-card img {
    border-bottom: 2px solid #e50914;
    width: 100%;
    height: auto;
}

/* Text styles */
.movie-card h3, .movie-card h4 {
    font-size: 1.2em;
    margin: 10px;
    color: #e50914;
}

.movie-card p {
    font-size: 0.9em;
    margin: 10px;
}

/* Link styles */
.movie-card a {
    display: block;
    text-align: center;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
}

.movie-card a:hover {
    background-color: #b20710;
}

</style>

<h1>Search Results for "{{ query }}"</h1>

    <div class="movie-list">
        {% for movie in searched_movies %}
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" alt="{{ movie.title }}" width="200">
                <h3>{{ movie.title }}</h3>
                <p>Release Date: {{ movie.release_date }}</p>
                <p>Genres: {{ movie.genres[1:-1].replace("'", "").replace(",", ", ") }}</p>
                <p>Average Rating: {{ movie.vote_average }}/10</p>
                <a href="{{ url_for('movie_details', movie_id=movie.id) }}">View Details</a>
            </div>
        {% endfor %}
    </div>

    <h2>Recommended Movies</h2>
    <div class="movie-recommendations">
        {% for movie in recommended_movies %}
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" alt="{{ movie.title }}" width="200">
                <h4>{{ movie.title }}</h4>
                <a href="{{ url_for('movie_details', movie_id=movie.id) }}">View Details</a>
            </div>
    {% endfor %}

{% endblock %}
