{% extends 'masterPage.html' %}

{% block head %}
<title>Studio Dashboard</title>
<style>
    body {
    background-color: #141414;
    color: #e5e5e5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #e50914;
    font-size: 2.5em;
}

.container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.container p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.container a {
    display: inline-block;
    background-color: #e50914;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container a:hover {
    background-color: #f40612;
}

</style>
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block body %}
<div class="container">
<h2>Studio Home</h2>
{% if studio %}
    <p>Studio Name: {{ studio.studio_name }}</p>
    <p>Studio Country: {{ studio.studio_country }}</p>
    <p>Business Email: {{ studio.business_email }}</p>
    <p>Created Date: {{ studio.created_date }}</p>
    <p>Verified: {{ 'Yes' if studio.verified else 'No' }}</p>
    <a href="{{ url_for('studio.edit_studio') }}">Edit Studio</a>
{% else %}
    <a href="{{ url_for('studio.create_studio') }}">Create Studio</a>
{% endif %}
</div>
{% endblock %}
